form#addToCart{
    margin-bottom:0
}
#buybox .a-sectionHeading{
    height:0;
    border-top:1px solid #ccc;
    margin:12px 0;
    text-align:center
}
#buybox .a-sectionHeading span{
    background-color:#fff;
    font-size:12px;
    position:relative;
    padding:0 10px;
    top:-9px
}
#buybox .a-color-heading{
    color:#e47911
}
#buybox_feature_div{
    position:relative
}
#buybox{
    filter:inherit
}
#buyboxTooltip{
    border:1px solid #5c9ebf
}
.a-no-js label.a-native-dropdown{
    display:inline;
    font-weight:400;
    padding-right:2px
}
.rbbHeader .rbbHeaderLink{
    color:#000
}
.rbbHeader .primeBadge img,.rbbHeader .ubbPrimeBadge img{
    vertical-align:middle;
    margin-bottom:4px
}
.rbbHeader .inlineBlock-display{
    display:inline-block
}
.rbbHeader a:focus{
    outline:0
}
.dp-accordion .dp-accordion-row{
    position:relative
}
#rbbContainer .rbbSection .a-box-inner{
    padding:0
}
#rbbContainer .rbbSection{
    overflow:hidden
}
.rbbSection.singleUBB #usedBuySection h5{
    padding-bottom:5px
}
.dp-accordion .dp-accordion-row{
    background:-moz-linear-gradient(center top ,#FCFCFC,#F7F7F7) repeat scroll 0 0 transparent;
    cursor:pointer;
    padding:0 18px 0 45px
}
.dp-accordion .dp-accordion-row h5{
    font-weight:400;
    line-height:41px
}
.dp-accordion .dp-accordion-row h5 .a-row .a-span-last{
    line-height:41px
}
.dp-accordion .dp-accordion-row .a-icon-radio-active,.dp-accordion .dp-accordion-row .a-icon-radio-inactive{
    left:17px;
    margin-top:-10px;
    position:absolute;
    top:50%
}
.dp-accordion .dp-accordion-row .a-icon-radio-active.new-header-eueux-music,.dp-accordion .dp-accordion-row .a-icon-radio-inactive.new-header-eueux-music{
    left:0;
    margin-top:10px
}
.dp-accordion .dp-accordion-row:hover .a-icon-radio-inactive{
    background-position:-53px -293px
}
.dp-accordion .dp-accordion-inner{
    display:none;
    margin-top:-.5em
}
.dp-accordion .dp-accordion-active .dp-accordion-row{
    background-color:transparent;
    background-image:none;
    cursor:default
}
.dp-accordion .dp-accordion-active .dp-accordion-row h5{
    font-weight:700
}
.dp-accordion .dp-accordion-active .dp-accordion-inner{
    display:block;
    padding:0 18px 14px
}

.usedItemInfo-spacing{
    margin-bottom:7px
}
.accessCode-spacing{
    margin-bottom:16px;
    line-height:10px
}
.displayNone{
    display:none
}
.ldtimercont{
    position:relative;
    height:8px;
    margin-bottom:2px;
    font-size:1px
}
.ldtimercont .statebar{
    position:absolute;
    height:4px;
    width:100%;
    margin-top:2px;
    background-color:#ccc
}
.ldtimercont .progbar{
    position:absolute;
    height:4px;
    background-color:#000;
    margin-top:2px
}
.ldtimercont .progbaralert{
    position:absolute;
    height:4px;
    background-color:#c00;
    margin-top:2px
}
.ldtimercont .progbarmissed{
    position:absolute;
    height:4px;
    background-color:#999;
    margin-top:2px
}
.ldtimercont .progbartick{
    position:absolute;
    height:8px;
    border-right:1px solid #fff
}
.ldtimercont .progbartickmissed{
    position:absolute;
    height:8px;
    border-right:1px solid #999
}
.ldtimeleft{
    position:relative;
    height:16px;
    margin-top:0;
    float:left;
    font-size:12px;
    color:#888
}
.ldtimetxtalert{
    color:#C00
}
#gbld_header_message{
    display:none
}
.gb_box_info{
    border-color:#bbd3de
}
.gb_box_error{
    border-color:#c40000
}
.gb_box_warn{
    border-color:#8b6e00
}
.gb_box_success{
    border-color:#89cd89
}

#gbld_header_message{
    padding:0!important
}
.seeAllBuyingOptionsSmallFont a{
    font-size:11px!important
}
table.bxgy-bundle{
    width:auto
}
.bxgy-text{
    margin:0 0 .75em 0;
    width:90%
}
.bxgy-binding-byline{
    font-size:86%;
    color:#666;
    margin-right:5px
}
.bxgy-byline-text{
    color:#000;
    margin-right:5px
}
.bxgy-bundle{
    margin:0 0 .75em 0;
    float:left;
    border-spacing:0;
    border-collapse:collapse
}
.bxgy-bundle td{
    vertical-align:middle;
    padding:0;
    border:0
}
.bxgy-bundle td.plus{
    text-align:center;
    padding:0 5px 0 5px;
    font-size:105%;
    font-weight:700;
    color:#999
}
.bxgy-priceblock{
    margin:0 0 0 185px
}
#bxgy_price_button_block .button-margin,.bxgy-priceblock .button-margin{
    margin:5px 5px 5px 0
}
#fbt_price_block .button-margin{
    margin:5px 0
}
#bxgy_wl_button_block .wl_three{
    background-position:0 0;
    border:0
}
#bxgy_wl_button_block .wl_two,.bxgy-priceblock .wl_two{
    background-position:0 -22px;
    border:0
}
#bxgy_wl_button_block .wl_one,.bxgy-priceblock .wl_one{
    background-position:0 -44px;
    border:0
}
#fbt_price_block .wl_three{
    background-position:0 0;
    border:0
}
#fbt_price_block .wl_two{
    background-position:0 -22px;
    border:0
}
#fbt_price_block .wl_one{
    background-position:0 -44px;
    border:0
}
#sims_fbt.bucket{
    padding:5px 0
}
#sims_fbt .content form{
    margin-bottom:-5px
}
#sims_fbt .availGreen,#sims_fbt .availOrange,#sims_fbt .availRed,#sims_fbt .availScarce{
    font-weight:700
}
#bxgy_points{
    color:#900
}
#bxgy_x_title,#fbt_x_title{
    color:#000
}
#bxgy_cartadd_button,#fbt_cartadd_button{
    position:static;
    border:0
}
#fbt_bpt,#fbt_buying_price{
    font-weight:700
}
#fbt_buying_price,.bxgy-item-price{
    margin:0;
    color:#900
}
#fbt_price_block .button-margin{
    margin:5px 0
}
#fbt_shipping_details,.bxgySellerError,.bxgySellerInfo,.bxgySellerInfoNonJS,.bxgySellerMessage{
    font-size:86%;
    color:#555
}
#fbt_shipping_details,.bxgySellerMessage{
    margin:0 0 .5em 0
}
.bxgyInitLinkHidden a{
    display:none
}
.bxgyInitHidden{
    display:none
}
.bxgySellerError,.bxgySellerInfo,.bxgySellerInfoNonJS{
    margin:.5em 0 1em 1em
}
.bxgyInfoBlock{
    display:none
}
.bxgySellerInfo .availGreen,.bxgySellerInfo .availOrange,.bxgySellerInfoNonJS .availGreen,.bxgySellerInfoNonJS .availOrange{
    font-size:112%
}
.bxgyPriceBlock1Asin .plusShippingText,.bxgyPriceBlock2Asin .plusShippingText,.bxgyPriceBlock3Asin .plusShippingText,.selected .plusShippingText{
    white-space:nowrap;
    font-size:86%
}
.bxgyText{
    margin:0 0 .75em 0;
    width:90%
}
.bxgyBundle{
    margin:10px 15px 10px 0;
    float:left;
    border-spacing:0;
    border-collapse:collapse;
    width:0
}
.bxgyBundle td{
    padding:0;
    vertical-align:middle;
    border:0
}
.bxgyBundle td.plus{
    text-align:center;
    padding:0 5px 0 5px;
    font-size:105%;
    font-weight:700;
    color:#999
}
#fbt_price_block,.bxgyPriceBlock1Asin,.bxgyPriceBlock2Asin,.bxgyPriceBlock3Asin{
    left:1.5em;
    padding:10px 0 0 0
}
#fbt_item_details,ul.bxgyInfoBlock,ul.bxgyInfoBlockNonJS,ul.bxgySelectAsins{
    margin:0;
    list-style:none;
    padding:0 0 .75em 1.75em;
    clear:left;
    width:78%;
    outline:0
}
ul.bxgyInfoBlock{
    padding-left:0
}
li.fbt_item,ul.bxgyInfoBlock li,ul.bxgyInfoBlockNonJS li,ul.bxgySelectAsins li{
    position:relative;
    display:block;
    margin:0 0 .35em 0
}
#sims_fbt a,.bxgy-text a,ul.bxgySelectAsins a{
    text-decoration:none
}
#sims_fbt a:focus,#sims_fbt a:hover,.bxgy-text a:focus,.bxgy-text a:hover,ul.bxgySelectAsins a:focus,ul.bxgySelectAsins a:hover{
    text-decoration:underline
}
.fbt_item label{
    font-weight:400
}
.fbt_item{
    margin-bottom:3px
}
#fbt_x_check,#fbt_y_check,#fbt_z_check,.bxgyInfoBlock input.check,.bxgySelectAsins input.check,ul.bxgyInfoBlockNonJS input.check{
    position:absolute;
    left:-21px;
    margin-bottom:3px
}
#fbt_item_details .unselected,.bxgySelectAsins .unselected{
    opacity:.2;
    filter:alpha(opacity=20);
    zoom:1
}
.bxgySelectAsins .unselected a{
    cursor:default;
    outline:0
}
.bxgySelectAsins .unselected a:visited{
    color:#004B91;
    text-decoration:underline
}
.bxgySelectAsins .unselected a:hover{
    color:#004B91;
    text-decoration:underline
}
.bxgyButton{
    margin-top:5px;
    margin-bottom:5px
}
.bxgy-feedback-confirm,.bxgy-feedback-default{
    font-size:86%;
    margin-left:2.3em;
    margin-bottom:.25em;
    clear:left
}
.bxgy-feedback-default{
    color:#666
}
.bxgy-feedback-confirm{
    color:#090
}
#bxgy-hmd-form{
    margin-bottom:0
}
.bxgy-hmd-box-headline{
    font-size:13px;
    margin-bottom:12px
}
.bxgy-hmd-feedback-options .input-row{
    margin-top:0;
    margin-bottom:5px
}
.bxgy-hmd-feedback-options .input-element{
    margin-left:5px;
    margin-right:5px
}
textarea#more-bxgy-feedback{
    width:485px;
    padding:0;
    margin:0
}
.bxgy-feedback-text-blur{
    color:#AAA
}
.bxgy-hmd-help{
    border:solid 1px #bbb;
    background-color:#ffd;
    width:485px;
    font-size:11px;
    margin-top:15px;
    margin-bottom:15px
}
.bxgy-hmd-help-icon{
    margin-top:7px;
    margin-right:10px;
    margin-left:10px;
    float:left
}
.bxgy-hmd-help-link{
    margin-top:5px;
    margin-bottom:10px;
    margin-right:10px
}
fieldset.forScreenreaders{
    clear:left
}
fieldset.forScreenreaders{
    padding:0;
    margin:0;
    border-width:0
}
.forScreenreaders ul li{
    list-style-type:none!important
}
fieldset.forScreenreaders legend span{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden
}
.bxgy-item-price{
    margin:0
}
.bxgyBundle #fbt_x_img img{
    max-width:none
}
.bxgyBundle #fbt_y_img img{
    max-width:none
}
.bxgyBundle #fbt_z_img img{
    max-width:none
}
.bxgySellerLoading{
    height:50px;
    margin:0;
    padding:0
}
#addon{
    border-color:#3f6998;
    border-style:solid none;
    border-width:1px;
    margin:21px 0 14px;
    padding:15px 0 10px;
    position:relative;
    width:100%
}
#addon .icon{
    left:0;
    padding-right:10px;
    position:absolute;
    top:-10px
}
.addOnItem-header{
    background-color:#3f6998!important;
    border-color:#3f6998!important;
    border-bottom:0!important;
    color:#fff!important
}

#andon-cord h4,#andon-cord p{
    margin:0 0 5px 35px
}
#ftMessage.buying{
    font-size:13px;
    margin:6px 0 10px;
    padding:0
}
#tell-a-friend{
    font-size:0
}
#tell-a-friend a,#tell-a-friend span{
    font-size:13px
}
#dp .a-container{
    margin-top:20px;
    padding-top:0;
    min-width:996px
}
#customer-reviews_feature_div h2,#customerReviewsHeader{
    color:inherit;
    font-size:21px!important
}

#averageCustomerReviews{
    display:inline
}
#averageCustomerReviews_feature_div{
    display:inline
}
#productGuarantee_feature_div{
    display:inline
}
.cpsims li{
    margin:0;
    padding:0
}
.cpsims .content{
    margin:.5em 0 0 20px
}
.cpsims .faceout{
    margin:0 10px 0 0;
    float:left
}
.cpsims .asinDetails{
    padding:0;
    text-align:left;
    vertical-align:middle
}
.cpsims .pctText{
    color:#000
}
.cpsims .asinDetails a{
    text-decoration:none
}
.cpsims .asinDetails a:focus span.cpAsinTitle,.cpsims .asinDetails a:hover span.cpAsinTitle{
    text-decoration:underline
}
.cpsims .activeAsin{
    color:#090
}
.cpsims a .inactiveAsin{
    color:#000
}
.cpsims .simFooter{
    margin-top:5px;
    margin-left:20px;
    padding:0 0 10px 0
}
.cpsims .starImage{
    vertical-align:middle
}
.cpsims div.medialine div.asinDetails div{
    display:inline
}
.cpsims .rating-stars{
    font-size:xx-small
}
.cpsims .rating-stars a,.cpsims .rating-stars a:link{
    text-decoration:none
}
.cpsims .rating-stars a:hover{
    text-decoration:underline
}
.cpsims div.price{
    margin-left:60px;
    margin-top:-4px
}
.cpsims div.price .unit{
    color:#666;
    font-size:86%
}
#cpsims-feature .content ul{
    margin-bottom:5px
}
.cpsims .vtp-binding-byline{
    font-size:86%;
    color:#666;
    margin-right:5px
}
.cpsims .vtp-byline-text{
    color:#000;
    margin-right:5px
}
.cpsims .vtp-clear{
    height:10px;
    clear:left;
    font-size:0;
    line-height:0
}
#vtpsims ul.content{
    margin-left:20px;
    padding-top:12px
}
#vtpsims .asinDetails a{
    color:#039
}
.simshqp-heading{
    margin:0;
    font-size:1.17em
}
.simshqp-subheading{
    margin:0 0 5px 0
}
.simshqp-img{
    float:left;
    width:55px;
    height:55px;
    margin-right:5px
}
li.simshqp-col{
    float:left;
    width:195px;
    margin-right:10px
}
.simshqp-in-stock{
    color:#090;
    font-weight:700
}
.simshqp-col a:link{
    color:#039;
    text-decoration:none
}
.simshqp-col a:hover{
    text-decoration:underline
}
.pairContainer{
    margin-top:10px;
    margin-left:20px;
    height:260px;
    overflow:hidden;
    font-size:13px
}
.pairMainBlock{
    float:left;
    width:192px
}
.pairMainDetails{
    padding-right:30px
}
.pairSep{
    border-right:1px solid #ddd;
    height:260px;
    float:left
}
.pairMainSubHeader{
    font-weight:700;
    line-height:16px;
    font-size:14px
}
.pairActive{
    color:#090;
    font-weight:700;
    line-height:16px;
    margin-top:14px;
    cursor:pointer;
    font-size:14px
}
.pairInactive{
    color:#000;
    line-height:16px;
    margin-top:14px;
    cursor:pointer;
    font-size:14px
}
.pairSimDetails{
    float:left;
    height:260px;
    width:162px;
    margin-left:20px;
    margin-right:0;
    margin-top:0;
    margin-bottom:0
}
.pairChevron{
    position:static;
    margin-left:6px;
    margin-bottom:1px;
    display:none
}
.pairSimFooter{
    margin-top:5px;
    margin-left:6px;
    padding:0 0 10px 0;
    font-weight:700
}
.pairPop{
    height:240px;
    display:none;
    font-size:11px
}
.pairPopHeader{
    font-weight:700;
    margin-bottom:10px;
    font-size:14px;
    width:319px;
    float:left
}
.pairPopClose{
    float:right;
    cursor:pointer
}
.pairPop .pairMainSubHeader{
    display:none
}
.pairPopItemSubHeader{
    display:none;
    margin-left:0;
    font-size:14px;
    margin-top:0;
    margin-bottom:10px;
    cursor:default
}
.pairPop .pairSimSubHeader{
    display:none
}
.pairPopSimSubHeader{
    display:none
}
.pairPop .pairPopSimSubHeader{
    display:block;
    margin-left:0;
    font-size:14px;
    margin-top:0;
    margin-bottom:10px;
    cursor:default
}
.pairPop .pairChevron{
    display:none
}
.pairPopItemDiv{
    width:130px;
    float:left
}
.pairPopVS{
    float:left;
    color:#ccc;
    font-size:20px;
    font-weight:700;
    margin-top:50px;
    padding-left:10px;
    padding-right:40px
}
a.pairImgTitle{
    text-decoration:none
}
a.pairImgTitle:hover{
    text-decoration:underline
}
.pairImage{
    margin-top:10px;
    margin-bottom:10px
}
.pairPop .pairImage{
    margin-top:0;
    margin-bottom:5px
}
.pairPop .pairImage img{
    height:75px;
    width:75px
}
.pairByline{
    font-size:100%
}
.pairRatings{
    line-height:16px;
    margin-top:3px;
    font-size:11px
}
.pairPop .pairRatings{
    display:none
}
.pairRatings .rating-stars a{
    font-size:11px;
    text-decoration:none
}
.pairRatings .rating-stars a:hover{
    text-decoration:underline
}
.pairPrice{
    margin-top:3px
}
.pairPrice a{
    text-decoration:none
}
.pairPrice a:hover{
    text-decoration:underline
}
#getItBy .tiny{
    color:#000!important;
    font-size:12px;
    padding:0 5px 0 0!important
}
#getItBy .oneClickSwatchOuter{
    cursor:pointer;
    font-size:12px;
    margin:2px;
    outline-style:none
}
#getItBy .oneClickSwatchAvailable{
    border-radius:4px;
    -moz-border-radius:4px;
    width:54px!important;
    height:46px!important;
    border:1px solid #d0d0d0;
    padding:1px;
    outline-style:none;
    background-color:#fff
}
#getItBy .oneClickSwatchHover{
    border-radius:4px;
    -moz-border-radius:4px;
    width:54px!important;
    height:46px!important;
    border:1px solid #b7b7b7;
    padding:1px;
    outline-style:none
}
#getItBy .oneClickSwatchSelect{
    width:54px!important;
    height:46px!important;
    border-radius:4px;
    -moz-border-radius:4px;
    background-color:#fef7f1;
    border:1px solid #e47911;
    outline-style:none
}
#getItBy .oneClickSwatchInnerBorder{
    color:#000;
    padding:5px 2px 2px 1px;
    text-align:center
}
#getItBy .oneClickFastTrackHover,#getItBy .oneClickFastTrackSelect{
    font-size:13px;
    text-align:center;
    outline-style:none
}
#getItBy .GIBShipStringOrange{
    color:#090;
    font-size:13px;
    font-weight:700;
    text-align:center
}
#getItBy .GIBShipStringOrange~*{
    text-align:center
}
#getItBy table{
    width:auto
}
#hero-quick-promo .headline,#hero-quick-promo .qpHeadline{
    color:#333;
    font-size:16px;
    font-weight:400;
    line-height:22px;
    margin:0;
    padding-bottom:4px
}
#hero-quick-promo .prodImage,#hero-quick-promo .qpImage{
    float:left;
    margin-right:12px
}
#hero-quick-promo .prodImage img,#hero-quick-promo .qpImage img{
    max-width:none
}
#hero-quick-promo .headline{
    display:block
}
#hero-quick-promo{
    margin-bottom:0!important
}
#hero-quick-promo img{
    margin-right:10px
}
#hero-quick-promo h2{
    font-size:16px;
    line-height:22px
}
#hero-quick-promo table{
    margin-bottom:0
}
#hero-quick-promo table,#heroQuickPromo_feature_div table{
    table-layout:fixed
}
.h3color{
    color:#E47911;
    font-size:13px
}
.tiny{
    font-size:10px
}
.small{
    font-size:small
}
.price{
    color:#900
}
div.nvffGrey{
    margin-top:5px;
    font-size:.85em;
    color:#66666B
}
.swSprite span{
    position:absolute;
    left:-9999px
}
.swSprite{
    display:inline-block
}
.availScarce{
    color:#900;
    font-size:1.3em;
    font-weight:700
}
.scarceInStock{
    color:#333;
    font-size:1.04em
}
.olp-padding-right{
    padding-right:18px
}
#feature-bullets .caretnext{
    color:#C60;
    font-size:1.2em;
    font-weight:700;
    text-decoration:none;
    margin-left:4px
}
.rebatesPopoverIcon{
    margin-top:6px!important;
    margin-left:1px!important
}
.promo-sticker-padding-bottom{
    padding-bottom:3.25px
}
#promoGrid table{
    font-size:12px!important
}
#vtpsims li{
    list-style-type:none!important
}
.bxgySellerLoading{
    height:50px;
    margin:0;
    padding:0
}
#addonOverlay{
    position:fixed;
    width:100%;
    height:100%
}
#addonMessage{
    padding:10px 0
}
#addonPopoverContainer{
    min-width:300px
}
#addonMessageBox,#addonMessageBoxOverlay{
    padding:5px
}
.addonMessageBorder{
    border-bottom:1px solid #3F6998;
    padding-top:9px
}
.addonMessageHeader{
    color:#C60;
    font:700 15px Arial;
    margin:5px 0
}
.addonMessageBody{
    font:13px Arial;
    line-height:18px
}
.addonBox{
    margin-bottom:0;
    border:1px solid #3F6998;
    border-style:solid none none solid;
    background-color:#3F6998
}
.addonBox .cBoxR{
    background-color:#3F6998;
    top:1px
}
.addonBuyboxMessageHeader{
    color:#fff;
    font:700 13px Arial;
    padding-top:5px;
    padding-left:10px
}
.addonBuyboxMessage{
    color:#fff;
    padding-top:3px;
    padding-bottom:5px;
    padding-left:10px;
    font:12px Arial
}
.addonBuyboxMessage a{
    color:#fff;
    font-size:12px
}
.addonBuyboxMessage a:link,.addonBuyboxMessage a:visited{
    color:#fff
}
.aOAL{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop')
}
#gTTLink .two_row_position{
    background-position:0 -314px
}
#gTTLink .three_row_position{
    background-position:0 -299px
}
#gTTLink{
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    margin-left:-18px;
    position:fixed;
    _position:absolute;
    top:0;
    z-index:10000;
    width:100%;
    min-width:500px
}
#gTTLink .ma-back-img{
    padding:3px 15px 5px;
    _display:inline
}
#gTTLink .ptContainer{
    height:45px;
    margin:0;
    _display:inline
}
#gTTLink .ma-title{
    color:#333;
    cursor:pointer;
    font-size:14px;
    font-weight:700;
    margin:3px 0 0 0;
    overflow:hidden
}
#gTTLink .ma-title p{
    line-height:16px
}
#gTTLink .ma-divider{
    border-right:1px solid #DDD;
    display:inline-block;
  
    margin:0 11px 0 3px;
    overflow:hidden;
    width:8px
}
#gTTLink span.topArrow{
    _margin:0 0 2px 6px
}
#gTTLink .topText{
    _display:inline
}
#gTTLink .price{
    font-size:15px
}
#gTTLink .product-image{
    float:left;
    height:45px;
    margin:0 10px 0 0
}
#gTTLink .right-column{
    float:right;
    _width:245px
}
#gTTLink .priceText{
    float:left;
    margin:7px 0 0 0
}
#gTTLink .rating-price{
    display:none
}
#gTTLink .availability-shipping{
    margin:8px 0 0 0
}
#gTTLink .sims-availabilty,#gTTLink .sims-shipping{
    margin:0
}
#gTTLink .add-to-cart{
    display:inline-block;
    margin:8px 10px 0 0
}
#gTTLink .can-add-to-cart a.a-button-text{
    padding-left:20px!important
}
#gTTLink a:link{
    text-decoration:none
}
#gTTLink .right-column .ma-divider{
    height:40px;
    margin:4px 20px 0
}
#gTTLink .left-column .ma-divider{
    height:20px;
    margin-top:7px
}
#gTTLink .availGreen,#gTTLink .availOrange,#gTTLink .availRed{
    font-size:13px;
    font-weight:400;
    margin:0 5px 0 0
}
#gTTLink .scarcity br{
    display:none
}
#gTTLink .scarcity b{
    font-weight:400
}
#gTTLink .three .ptContainer{
    height:60px
}
#gTTLink .three .product-image{
    height:60px
}
#gTTLink .three .add-to-cart{
    margin:18px 10px 0 0
}
#gTTLink .three .right-column .ma-divider{
    height:55px
}
#gTTLink .three .left-column .ma-divider,#gTTLink .three .priceText,#gTTLink .three .scarcity{
    display:inline-block;
    margin-top:5px
}
#gTTLink .three .availability-shipping{
    margin:5px 0 0 0
}
#gTTLink .availability-shipping,#gTTLink .row2{
    height:21px;
    overflow:hidden
}
#gTTLink p{
    margin:0;
    padding:0
}
#gTTLink p.wraptext{
    overflow:hidden;
    text-overflow:ellipsis;
    width:100%;
    white-space:nowrap;
    -o-text-overflow:ellipsis
}
#gTTLink .availability-shipping a:link,#gTTLink .priceText a:link{
    color:#000!important
}
#gTTLink .maPrimeBadge{
    display:inline-block;
    margin:1px 0 0 5px
}
#gTTLink .priceText div,#gTTLink .priceText span{
    float:left
}
#mini-atf_feature_div{
    opacity:1!important
}
#detail-bullets ul,#detail_bullets_id ul,#feature-bullets-btf ul,#technical-data ul{
    color:#333;
    font-size:13px;
    margin-bottom:1px
}
#ratings_id ul{
    color:#000
}
#detail-bullets,#detail_bullets_id,#technical-data{
    padding-bottom:10px
}
#detail_bullets_id table{
    width:auto
}
#detail-bullets ul li,#detail_bullets_id ul li,#technical-data ul li{
    list-style-type:none
}
#detail-bullets ul li,#detail_bullets_id ul li,#technical-data ul li{
    margin-bottom:5.5px
}
#technical-data ul li{
    margin-bottom:3.5px
}
#technical-data .caretnext{
    padding-left:14px
}
#detail-bullets .content,#detail_bullets_id .content,#technical-data .content{
    margin-left:0;
    margin-top:0
}
#techSpecContent{
    margin-bottom:8px!important
}
.tsTable{
    margin-bottom:8px!important
}
#techSpecSoftlines table{
    background-color:#FFF;
    border:0 none;
    border-collapse:collapse;
    padding:0;
    width:50%
}
#techSpecSoftlines td,#techSpecSoftlines th{
    border-bottom:1px dotted #CCC;
    font-size:12px;
    margin-bottom:1px;
    padding:6px 10px;
    vertical-align:top
}
#techSpecSoftlines th{
    font-size:14px;
    padding:6px 10px 0 3px;
    text-align:left
}
#techSpecSoftlines .td1{
    background-color:#F7F7F7;
    color:#666;
    width:35%
}
#techSpecSoftlines .td2{
    color:#333
}
#techSpecSoftlinesWrap{
    padding-bottom:8px
}
#reviewsDivider{
    width:100%
}
.disclaim{
    margin-top:3px;
    font-size:10px;
    color:#888
}
.content{
    margin-top:6.5px;
    margin-left:25px
}
.pa_footerRight{
    font-size:11px!important;
    margin-bottom:-8px!important
}
.cpsiaWarning{
    font-size:13px;
    padding-bottom:4px
}
#cpsiaMainDiv{
    background-color:#FFFFCD;
    border:1px solid #E47911;
    margin:10px 20px!important;
    padding:6px 6px 4px
}
#cpsia-block{
    padding-bottom:8px
}
#cpsia-block ul,#cpsia-product-safety-warning_feature_div ul{
    color:#333!important
}
#cf-qa-cel .cdUnanswered{
    padding-top:0
}
#cf-qa-cel .cdSeeAllQuestionsBlock{
    padding-top:10px
}
.cdSearchCheckbox{
    margin-top:6px!important
}
#merchant-help-links table table{
    border:1px solid #999;
    border-spacing:5px;
    border-collapse:separate
}
#merchant-help-links table table a{
    text-decoration:underline
}
.custRevHistogramPopId table{
    margin-bottom:0;
    width:auto;
    border-collapse:separate;
    line-height:normal
}
.custRevHistogramPopId table td{
    padding:0
}
#platform-information ul li{
    margin-top:6.5px;
    margin-bottom:6.5px;
    list-style-type:none
}
#platform-information ul{
    color:#333;
    margin-left:0
}
#platform-information .bucket{
    padding:5px 0
}
.s_alert{
    background-position:-60px -190px;
    height:25px;
    width:25px
}
#award-images-div{
    margin-bottom:10px
}
#quickPromoDivId ul{
    color:#333
}
#quickPromoDivId ul li{
    list-style-type:none;
    line-height:13px
}
td.sl-vs-box{
    vertical-align:middle
}
.sl-title-tab-right-above-rate{
    margin-top:4px!important
}
#tagContentHolder .content table{
    margin-bottom:0
}
#tagContentHolder{
    margin-bottom:10px
}
#imageBlock #video-outer-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1
}
#imageBlock #main-video-container{
    width:100%;
    height:100%;
    margin:auto
}
#imageBlock #main-video-container video{
    max-width:100%
}
#altIngressSpan{
    display:table;
    text-align:center;
    font-size:16px;
    color:#000
}
#altIngressText{
    display:table-cell;
    vertical-align:middle
}
#twister .swatches a{
    left:0;
    position:absolute;
    top:0;
    background-image:url(about:blank);
    z-index:1
}
#fma-seller-message table{
    width:auto
}
#centerCol .unified_widget.rcmBody{
    padding-top:10px
}
#purchase-sims-feature .shoveler .shoveler-content .shoveler-cell .byline{
    color:#000
}
#dp.apparel .a-container{
    padding:0 8px!important;
    margin-top:10px!important
}
#dp.jewelry .a-container{
    padding:0 8px!important;
    margin-top:10px!important
}
#dp.watch .a-container{
    padding:0 8px!important;
    margin-top:10px!important
}
#dp.shoes .a-container{
    padding:0 8px!important;
    margin-top:10px!important
}
#detail-ilm_div table{
    margin-bottom:0
}
#detail-ilm_div br{
    display:none
}
#wayfinding-breadcrumbs_container{
    padding:0 16px!important;
    margin-top:8px!important
}
#prime_div{
    margin-top:8px
}
.burj #imageBlock{
    margin-bottom:-9px;
    overflow:hidden
}
.burj #imageBlock_feature_div{
    margin-top:26px
}
.burj #imageBlock #video-canvas-caption #canvasCaption{
    display:none
}
.a-lt-ie9 .burj #imageBlock #main-image-container .imgTagWrapper img{
    height:auto!important;
    width:auto!important
}
#mbc ul{
    margin-bottom:0
}
#mbc li{
    cursor:default
}
#mbc li:hover span.mbcMerchantName{
    color:#E47911
}
#mbc .mbc-offer-row:hover span.mbcMerchantName{
    color:#e47911
}
#mbc .mbc-addon-small{
    font-size:9px
}
.availGreen{
    color:#090;
    font-size:13px;
    font-weight:400
}
.availOrange{
    color:#C60;
    font-size:13px;
    font-weight:400
}
.availRed{
    color:#900;
    font-size:1.15em;
    font-weight:700
}
.a-ie7 #moreBuyingChoices_feature_div span.a-list-item div.a-section{
    float:left
}
.a-ie7 #moreBuyingChoices_feature_div span.a-list-item div.a-row{
    float:left
}
.a-ie7 #moreBuyingChoices_feature_div span.a-list-item{
    display:inline-block
}
.a-ie7 #moreBuyingChoices_feature_div .sdpText{
    float:left
}
#mbcMerchantNameSectionID{
    margin-bottom:5px!important;
    padding-right:5px!important
}
#detailBullets_averageCustomerReviews{
    display:inline
}
#detailBullets_averageCustomerReviews a{
    text-decoration:none
}
#variant_ads h2,#variant_adsLazyLoad h2{
    color:#333
}
#product-gc h2 .tiny{
    font-size:11px;
    font-weight:400
}
.advice-quotes-histogram td{
    border:1px solid #fff;
    line-height:14px;
    padding:0
}
#hmdFormDiv form{
    margin-bottom:0
}
#dp>table{
    background-color:#FFF
}
#ap_container .nav_flyout_table{
    width:inherit
}
#ap_container .nav_flyout_table td{
    padding:0
}
#ap_container .noLinkDecoration.searchTemplate strong{
    margin-top:3px;
    display:block
}
.a-button-dropdown .a-button-text{
    position:relative;
    z-index:100
}
.a-lt-ie8 .a-fixed-left-grid .ie7-width-96{
    width:96%!important
}
.a-lt-ie8 .a-fixed-right-grid .ie7-width-935{
    width:93.5%!important
}
.a-lt-ie8 .a-icon-prime{
    vertical-align:top!important;
    margin-right:5px
}
.a-lt-ie8 .a-button-small .a-button-text{
    line-height:20px!important
}
.a-lt-ie8 .a-container{
    min-width:948px
}
.a-button-text img{
    min-width:5px
}
hr.bucketDivider{
    border:none;
    height:44px!important;
    margin-bottom:-18px;
    background:-moz-linear-gradient(top,#ddd,#f7f7f7 3px,#fff);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ddd),color-stop(3px,#f7f7f7),color-stop(100%,#fff));
    background:-webkit-linear-gradient(top,#ddd,#f7f7f7 3px,#fff);
    background:-o-linear-gradient(top,#ddd,#f7f7f7 3px,#fff);
    background:-ms-linear-gradient(top,#ddd,#f7f7f7 3px,#fff);
    background:linear-gradient(top,#ddd,#f7f7f7 3px,#fff);
    filter:none;
    z-index:0;
    zoom:1
}

.sbl-status-badge,.sbl-status-badge-wrapper .sbl-status-badge-orange,.sbl-status-badge-wrapper .sbl-status-badge-red{
    padding:0 6px 0 10px
}
.sbl-offer-level-badge-wrapper{
    margin-top:1px
}
.sbl-offer-level-badge-wrapper .sbl-offer-level-badge-red{
    background-color:#b12704!important
}
.sbl-offer-level-badge-wrapper .sbl-offer-level-badge-red .sbl-badge-text{
    color:#fff!important
}
.sbl-offer-level-badge-wrapper .sbl-offer-level-badge-navy{
    background-color:#00464f!important
}
.sbl-offer-level-badge-wrapper .sbl-offer-level-badge-navy .sbl-badge-text{
    color:#fff!important
}
.sbl-offer-level-badge-wrapper .sbl-offer-level-badge-prime-day-deal{
    background-color:#97edfc!important
}
.sbl-offer-level-badge-wrapper .sbl-offer-level-badge-prime-day-deal .sbl-badge-text{
    color:#000!important
}
.sbl-right-triangle,.sbl-status-badge-wrapper .sbl-status-badge-orange:after,.sbl-status-badge-wrapper .sbl-status-badge-red:after{
    content:"";
    width:10px;
    height:24px;
    border-right:10px solid transparent;
    border-top:24px solid;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position:absolute;
    top:0;
    right:-10px
}
.sbl-status-badge-wrapper{
    position:absolute;
    text-align:left;
    z-index:1
}
.sbl-status-badge-wrapper .sbl-status-badge-orange{
    background-color:#E67A00!important;
    color:#E67A00!important
}
.sbl-status-badge-wrapper .sbl-status-badge-orange .sbl-badge-text{
    color:#fff!important
}
.sbl-status-badge-wrapper .sbl-status-badge-red{
    background-color:#D62C11!important;
    color:#D62C11!important
}
.sbl-status-badge-wrapper .sbl-status-badge-red .sbl-badge-text{
    color:#fff!important
}
@media screen and (min-width:521px) and (max-width:899px){
    .shopbylook-btf-items-section-p-1{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-1 .shopbylook-btf-item-box:nth-child(n+7){
        display:none
    }
    .shopbylook-btf-items-section-p-2{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(n+13){
        display:none
    }
    .shopbylook-btf-items-section-p-3{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(n+19){
        display:none
    }
    .shopbylook-btf-items-section-p-4{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(n+25){
        display:none
    }
    .shopbylook-btf-items-section-p-5{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(n+31){
        display:none
    }
    .shopbylook-btf-items-section-p-6{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(n+37){
        display:none
    }
    .shopbylook-btf-items-section-p-7{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(n+43){
        display:none
    }
    .shopbylook-btf-items-section-p-8{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(n+49){
        display:none
    }
    .shopbylook-btf-items-section-p-9{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box:nth-child(n+55){
        display:none
    }
    .shopbylook-btf-item-box{
        width:33.33333%
    }
    .sbl-no-content-message{
        width:33.33333%
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(-n+6){
        display:none
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(-n+12){
        display:none
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(-n+18){
        display:none
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(-n+24){
        display:none
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(-n+30){
        display:none
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(-n+36){
        display:none
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(-n+42){
        display:none
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box:nth-child(-n+48){
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box{
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+6){
        display:inline-block
    }
    .sbl-dp-v20 .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+7){
        display:inline-block
    }
}
@media screen and (min-width:900px) and (max-width:1199px){
    .shopbylook-btf-items-section-p-1{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-1 .shopbylook-btf-item-box:nth-child(n+9){
        display:none
    }
    .shopbylook-btf-items-section-p-2{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(n+17){
        display:none
    }
    .shopbylook-btf-items-section-p-3{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(n+25){
        display:none
    }
    .shopbylook-btf-items-section-p-4{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(n+33){
        display:none
    }
    .shopbylook-btf-items-section-p-5{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(n+41){
        display:none
    }
    .shopbylook-btf-items-section-p-6{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(n+49){
        display:none
    }
    .shopbylook-btf-items-section-p-7{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(n+57){
        display:none
    }
    .shopbylook-btf-items-section-p-8{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(n+65){
        display:none
    }
    .shopbylook-btf-items-section-p-9{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box:nth-child(n+73){
        display:none
    }
    .shopbylook-btf-item-box{
        width:25%
    }
    .sbl-no-content-message{
        width:25%
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(-n+8){
        display:none
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(-n+16){
        display:none
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(-n+24){
        display:none
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(-n+32){
        display:none
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(-n+40){
        display:none
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(-n+48){
        display:none
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(-n+56){
        display:none
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box:nth-child(-n+64){
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box{
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+8){
        display:inline-block
    }
    .sbl-dp-v20 .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+9){
        display:inline-block
    }
}
@media screen and (min-width:1200px) and (max-width:1449px){
    .shopbylook-btf-items-section-p-1{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-1 .shopbylook-btf-item-box:nth-child(n+11){
        display:none
    }
    .shopbylook-btf-items-section-p-2{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(n+21){
        display:none
    }
    .shopbylook-btf-items-section-p-3{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(n+31){
        display:none
    }
    .shopbylook-btf-items-section-p-4{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(n+41){
        display:none
    }
    .shopbylook-btf-items-section-p-5{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(n+51){
        display:none
    }
    .shopbylook-btf-items-section-p-6{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(n+61){
        display:none
    }
    .shopbylook-btf-items-section-p-7{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(n+71){
        display:none
    }
    .shopbylook-btf-items-section-p-8{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(n+81){
        display:none
    }
    .shopbylook-btf-items-section-p-9{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box:nth-child(n+91){
        display:none
    }
    .shopbylook-btf-item-box{
        width:20%
    }
    .sbl-no-content-message{
        width:20%
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(-n+10){
        display:none
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(-n+20){
        display:none
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(-n+30){
        display:none
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(-n+40){
        display:none
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(-n+50){
        display:none
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(-n+60){
        display:none
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(-n+70){
        display:none
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box:nth-child(-n+80){
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box{
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+10){
        display:inline-block
    }
    .sbl-dp-v20 .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+11){
        display:inline-block
    }
}
@media screen and (min-width:1450px) and (max-width:9999px){
    .shopbylook-btf-items-section-p-1{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-1 .shopbylook-btf-item-box:nth-child(n+13){
        display:none
    }
    .shopbylook-btf-items-section-p-2{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(n+25){
        display:none
    }
    .shopbylook-btf-items-section-p-3{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(n+37){
        display:none
    }
    .shopbylook-btf-items-section-p-4{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(n+49){
        display:none
    }
    .shopbylook-btf-items-section-p-5{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(n+61){
        display:none
    }
    .shopbylook-btf-items-section-p-6{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(n+73){
        display:none
    }
    .shopbylook-btf-items-section-p-7{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(n+85){
        display:none
    }
    .shopbylook-btf-items-section-p-8{
        display:flex;
        flex-wrap:wrap
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(n+97){
        display:none
    }
    .shopbylook-btf-item-box{
        width:16.66667%
    }
    .sbl-no-content-message{
        width:16.66667%
    }
    .shopbylook-btf-items-section-p-2 .shopbylook-btf-item-box:nth-child(-n+12){
        display:none
    }
    .shopbylook-btf-items-section-p-3 .shopbylook-btf-item-box:nth-child(-n+24){
        display:none
    }
    .shopbylook-btf-items-section-p-4 .shopbylook-btf-item-box:nth-child(-n+36){
        display:none
    }
    .shopbylook-btf-items-section-p-5 .shopbylook-btf-item-box:nth-child(-n+48){
        display:none
    }
    .shopbylook-btf-items-section-p-6 .shopbylook-btf-item-box:nth-child(-n+60){
        display:none
    }
    .shopbylook-btf-items-section-p-7 .shopbylook-btf-item-box:nth-child(-n+72){
        display:none
    }
    .shopbylook-btf-items-section-p-8 .shopbylook-btf-item-box:nth-child(-n+84){
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box{
        display:none
    }
    .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+12){
        display:inline-block
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box{
        display:none
    }
    .shopbylook-btf-items-section-p-9 .shopbylook-btf-item-box:nth-last-child(-n+12){
        display:inline-block
    }
    .sbl-dp-v20 .shopbylook-btf-items-section-p-last .shopbylook-btf-item-box:nth-last-of-type(-n+13){
        display:inline-block
    }
}

@media screen and (min-width:521px){
    .burj-body .shopbylook-btf-item-box{
        width:33.33333%
    }
}
@media screen and (min-width:1200px){
    .burj-body .shopbylook-btf-item-box{
        width:25%
    }
}
@media screen and (min-width:1400px){
    .burj-body .shopbylook-btf-item-box{
        width:20%
    }
}

 